<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>zoek</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <p>Vind uw bestemming</p>
  <ion-searchbar color="dark" placeholder="Zoek"></ion-searchbar>
  <ion-card>
    <img src="https://cdn.pixabay.com/photo/2016/10/13/10/37/dandelion-1737324_1280.jpg"/>
  </ion-card>
  <ion-card-content>Comfortabel voelen</ion-card-content>
  <ion-card>
    <img src="https://cdn.pixabay.com/photo/2022/11/13/13/57/northern-lights-7589302_1280.jpg"/>
  </ion-card>
  <ion-card-content>Meditatie en Kalmte </ion-card-content>

</ion-content>
